
.editableTable{ 
	background-color: $COLOR1; 
	border-radius: 5px;
	overflow: hidden;
	color:$COLOR4;
}

.Editable_row{
	border:none;
	width: calc(100% - #{$standardPaddingSmall});
	padding:$standardPaddingSmall;
	cursor:pointer;
	display: grid;
	grid-template-columns: auto 30px ; 
}

.Editable_rowHeader{ 
	width: inherit; 
	padding-left:5px;
	padding:$standardPaddingSmall;
	padding-right: 0;
	cursor:pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: center;
	&> *{
		width:  30px;
	}
}


// Color Specifications
.Editable_row{ 
	
	&:not([data-isEdit="true"]){
		&[data-can-hover="true"]{
			&:hover{
				background: $interactiveSColorHover  ; 
				&[data-selected="true"]{
					background: StrippedBackground($interactiveSColorActive , $interactiveSColorHover);
				}
			}
		}
		&[data-selected="true"]{
			background: $interactiveSColorHover	 ;
		}
	}
	&[data-isEdit="true"]{
		background: $interactiveSColorHover	 ;
	}
	
}


.Editable_row > div {
	position:relative; 
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: end;
	width: inherit;
    line-break: anywhere;
}

.Editable_Icon{
	display: flex;
    justify-content: center;
    align-items: center;
}
 