
$lineheight : 20px;

.editableTable{
	height: 100%; 
}

.Editable_row{
	width: inherit;
	height:$lineheight ; 
	padding-left:5px;
	cursor:pointer;
	display: grid;
	grid-template-columns: auto 30px ; 
}

.Editable_rowHeader{
	width: inherit;
	height:$lineheight ; 
	padding-left:5px;
	cursor:pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: center;
	&> *{
		width:  30px;
	}
}


// Color Specifications
.Editable_row{
	width: 100%;
	
	
	&:not([data-isEdit="true"]){
		&[data-can-hover="true"]{
			&:hover{
				background: lightpink  ; 
				&[data-selected="true"]{
					background: StrippedBackground(white	 , lightpink);
				}
			}
		}
		&[data-selected="true"]{
			background: tomato	 ;
		}
	}
	&[data-isEdit="true"]{
		background: palegoldenrod ; 
	}
	
}


.Editable_row > div {
	position:relative; 
	height:$lineheight ;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	& > imageContainer { 
		height:$lineheight;
		height:100%;
		width:100%;
	}
}

.Editable_Icon{
	display: flex;
    justify-content: center;
    align-items: center;
}
 