.FeatuerDesigner{
    &, &[data-level="0"]{

    }
    &[data-level="1"]{
        border-left :$standardPaddingSmall solid $COLOR1;
        margin-left :$standardPadding;
        padding-left:$standardPadding;
    }
    &[data-level="2"]{
        border-left :$standardPaddingSmall solid $COLOR2;
        margin-left :$standardPadding;
        padding-left:$standardPadding;
    }
    &[data-level="3"]{
        border-left :$standardPaddingSmall solid $COLOR3;
        margin-left :$standardPadding;
        padding-left:$standardPadding;
    }
}

.FeatuerDesigner > div{

    section{
        input, textarea, select{
            width: 100%;
            resize: vertical;
            box-sizing: border-box;
        }

        .interactive{
            @include btnN;
            padding:5px;
            grid-column: span 2;
        }
    }

    .featureBtn{
        width:30px;
        height:30px;
        float: right;
    }

    .featureContainer{
        display: block;
    }
    .subFeatureBtn{
        margin: 10px;
        width :20px;
        height:20px;
        cursor: pointer;
    }


    .SubFeatureIcon{
        width: 10px;
        height:10px; 
        border-left:4px solid black;
        border-bottom:4px solid black;
        transition:1s cubic-bezier(0.65, -0.02, 0.38, 0.99);
        transform: translateY(3px) scaleX(-1) rotateZ(135deg) ;
    }
}