
//TODO: For development in Brower. When Done Delete this 
@import './ObsidianStandard.scss';

$green          : var(--color-green);
$blue           : var(--color-blue); // var(--interactive-accent);
$red            : var(--color-red);
$yellow         : var(--color-yellow);
$gray 			: var(--color-cyan); 

$textColor          : var(--text-normal);
$standard_padding_small	: 5px ;
$standard_padding_large	: 15px ;
$standard_padding		: 5px 15px 5px 15px;

$stripedBackground_StripeThickness : 4px;
@function StrippedBackground($color1 , $color2) {
	@return repeating-linear-gradient(-45deg, $color1 , $color1  $stripedBackground_StripeThickness , $color2 $stripedBackground_StripeThickness , $color2 10px);
}
 