



.calcInput {
	font-family:sans-serif;
	padding:2px;
	line-height: 12px;
	max-height: fit-content;
	resize: vertical;
}
.derivedOriginRowsContainer{ 
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	.derivedOriginRowContainer,
	.derivedOriginRow{
		display:grid;
		grid-template-columns: subgrid;
		grid-column: span 6;
	}
	
}
.derivedOriginRow{
	&[data-styleActive="true"]{
		&>*:nth-child(1){ grid-area : sym ; }
		&>*:nth-child(2){ grid-area : num ; }
		&>*:nth-child(3){ grid-area : sel1; place-self: center; cursor: pointer;}
		&>*:nth-child(4){ grid-area : sel2; place-self: center; cursor: pointer;}
		&>*:nth-child(5){ grid-area : sel3; place-self: center; cursor: pointer;}
		&>*:nth-child(6){ grid-area : logo; place-self: center; cursor: pointer;} 
	}
	&[data-styleActive="false"]{
		&>*:nth-child(1){ grid-area : sym ; cursor: pointer;}
		&>*:nth-child(2){ grid-area : add ; cursor: pointer;}
		&>*:nth-child(3){ grid-area : add ; cursor: pointer;} 
	}
}
.DerivedCollectionDesigner{
	border-top:3px dashed $COLOR3;
	padding-top:20px;

	&[data-state="error"]::before{
		filter: saturate(0);
	}
	&::before{
		background-color: $COLOR3;
		height:30px;
		width: 100px;
		display: block;
		content: attr(data-state-text);
		margin-top:-22px;
		color:$COLOR4;
		border-radius: 0 0 5px 5px;
		text-align: center;
		place-content:center;
	}
	.DerivedCollectionDesignerCloseBtn{
		width: 30px;
		height: 30px;
		background-color: $COLOR3;
		color:$COLOR4;
		display: flex;
		justify-content: center;
    	align-items: center;
		border-radius: 0 0 5px 5px;
		margin-top:-30px; 
		right:0;
		float:right;
		cursor: pointer;
		&:hover{
			background-color: $COLOR2;
		}
	}
}

@container (max-width: #{$layout_size01_maxWidth}px ) { 
	.ItemDesignerDataColumns{
		display: grid;
		grid-template-columns: 1fr 1fr; 
	}
	.ItemDesignerDataColumns3{ 
		display: grid;
		grid-template-rows: 1fr 1fr 1fr; 
		color:$COLOR4;
		min-width: 200px ;
		&>*:nth-child(odd){
			background-color: $COLOR1; 
			padding: 5px;
			border-radius: 5px 5px 0 0 ;
		}
		&>*:nth-child(even){
			background-color: $COLOR1;
			padding: 5px;
			margin-bottom: 5px;

			&:is(input){
				background-color: white;
			}
		} 
		.calcInput{
			color:$COLOR1;
			background-color: white;
		}  
	}
	.derivedOriginRowsContainer{  
		min-width: 200px ;
		.derivedOriginRow{
			
			grid-template-columns: 1fr 150px 1fr !important;
			grid-template-rows: 1fr auto auto auto ;
			background-color: $COLOR1;
			color:$COLOR4;
			row-gap: 5px;
			padding:5px;

			&[data-styleActive="true"]{
				grid-template-areas:
					"sym	num		logo" 
					"sel1	sel1	sel1"
					"sel2	sel2	sel2"
					"sel3	sel3	sel3"
				;
			}
			&[data-styleActive="false"]{
				grid-template-areas: 
				"sym	sym"
				"add	add"
				"add	add" 
				"logo	logo";
			} 
		} 
	}
}

@container (min-width: #{$layout_size02_minWidth}px ) and (max-width: #{$layout_size03_maxWidth}px )  { 
	.ItemDesignerDataColumns{
		display: grid;
		grid-template-columns: 1fr 1fr; 
	}
	.derivedCollectionCalcStatementMatrix,
	.ItemDesignerDataColumns3{ 
		display: grid;
		grid-template-columns: 1fr 1fr auto; 
		row-gap: 10px;
		column-gap: 10px;
		grid-auto-rows: auto;

		.ItemDesignerInput{
			grid-column: span 2;
		}		
	}

	.derivedOriginRowsContainer{  
		
		padding:5px;
		border-radius: 5px;
		background-color: $COLOR1;
		color:$COLOR4;
		grid-template-columns:30px calc(33% - 30px) 33% 1% calc(33% - 40px) 40px;  

		.derivedOriginRow{
			grid-template-rows: auto auto;
			row-gap: 5px;
			&[data-styleActive="true"]{
				grid-template-areas: 
					"sym	num		num		num		num 	logo"
					"sel1	sel1	sel2	sel2	sel3 	sel3";
			}
			&[data-styleActive="false"]{
				grid-template-areas: "sym add add";
			}
		}
	}
}

@container (min-width: #{$layout_size04_minWidth}px ) { 
	.ItemDesignerDataColumns{
		display: grid;
		grid-template-columns: 1fr 1fr; 
	}
	.derivedCollectionCalcStatementMatrix,
	.ItemDesignerDataColumns3{ 
		display: grid;
		grid-template-columns: 1fr 1fr auto; 
		row-gap: 10px;
		column-gap: 10px; 

		.ItemDesignerInput{
			grid-column: span 2;
		}		
	}

	.derivedOriginRowsContainer{  
		margin-top: 10px;
		padding:5px;
		border-radius: 5px;
		background-color: $COLOR1;
		color:$COLOR4;
		grid-template-columns:30px calc(25% - 30px) 25% 25% calc(25% - 40px) 40px;  

		

		.derivedOriginRow{ 
			height:100%;
			row-gap: 5px;
			grid-template-rows: unset;
			&[data-styleActive="true"]{
				grid-template-areas: "sym num sel1 sel2 sel3 logo";
			}
			&[data-styleActive="false"]{
				grid-template-areas: "sym add add add add add";
			}
		}
	}
}