div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--color-blue);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--color-blue);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--color-blue);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer {
  overflow: hidden;
  border: solid var(--border-width) var(--color-blue);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true] {
  border: solid var(--border-width) var(--color-blue);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.SystemDescriptor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-auto-rows: 24px;
}div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--color-blue);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--color-blue);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--color-blue);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer {
  overflow: hidden;
  border: solid var(--border-width) var(--color-blue);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true] {
  border: solid var(--border-width) var(--color-blue);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.SystemSelectorContainerHeader {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
}

.SystemSelectorContainer .SelectionContainer {
  display: flex;
  flex-direction: column;
}

.SelectionContainerOption {
  padding-left: 10px;
  height: 24px;
  cursor: pointer;
}

.SelectionContainerOption:hover {
  background-color: var(--color-blue);
}div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--color-blue);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--color-blue);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--color-blue);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer {
  overflow: hidden;
  border: solid var(--border-width) var(--color-blue);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true] {
  border: solid var(--border-width) var(--color-blue);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}