div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--interactive-accent);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer {
  overflow-y: auto;
  overflow-x: hidden;
  border: solid var(--border-width) var(--interactive-accent);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true] {
  border: solid var(--border-width) var(--interactive-accent);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveColoredBorder {
  border: 1px solid;
  padding: 10px;
  border-radius: 2px;
}

.GrobsInteractiveColoredBorder {
  transition: border-color 0.3s ease;
}

.GrobsInteractiveColoredBorder[data-state=good] {
  border-color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state=error] {
  border-color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state=verbose] {
  border-color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state=flash] {
  border-color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=good]::before {
  color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=error]::before {
  color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=verbose]::before {
  color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=flash]::before {
  color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text]::before {
  transition: color 0.3s ease;
  display: block;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  margin-top: -16.8px;
  content: attr(data-state-text);
  background-color: var(--background-primary);
}

.GrobsButton {
  height: 24px;
  padding: 24px;
  border-radius: 2px;
  background: var(--interactive-normal);
  box-shadow: var(--input-shadow);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  cursor: var(--cursor);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.GrobsButton:hover {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
}

.lineBreak, .linebreak {
  height: 24px;
}

.blockBreak {
  height: 45px;
}

.grobModal {
  background-color: var(--background-primary);
  border-radius: var(--modal-radius);
  border: var(--modal-border-width) solid var(--modal-border-color);
  padding: var(--size-4-4);
  box-shadow: 4px 4px 0px 0px black;
  width: calc(100% - 2 * var(--size-4-4));
  position: absolute;
  z-index: 100;
}

.ErrorHandlerSignage {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signage, .OKHandlerSign, .VerboseHandlerSign, .ErrorHandlerSign {
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 15px 5px 15px;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  justify-content: space-between;
}

.signage:hover, .OKHandlerSign:hover, .VerboseHandlerSign:hover, .ErrorHandlerSign:hover {
  margin-left: -5px;
  transition: ease 0.4s;
  margin-right: 5px;
}

.signage p, .OKHandlerSign p, .VerboseHandlerSign p, .ErrorHandlerSign p {
  grid-column: 2;
  text-align: right;
  line-height: 12px;
}

.signage i, .OKHandlerSign i, .VerboseHandlerSign i, .ErrorHandlerSign i {
  margin-top: -10px;
  grid-column: 2;
  text-align: right;
  line-height: 12px;
  opacity: 0.5;
}

.signage::before, .OKHandlerSign::before, .VerboseHandlerSign::before, .ErrorHandlerSign::before {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  content: "!";
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.ErrorHandlerSign {
  background-color: var(--color-red);
}

.ErrorHandlerSign::before {
  content: "!";
}

.VerboseHandlerSign {
  background-color: var(--interactive-accent);
}

.VerboseHandlerSign::before {
  content: "!";
}

.OKHandlerSign {
  background-color: var(--color-green);
}

.OKHandlerSign::before {
  content: "!";
}.SystemExporterbuttonRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.SystemExporterbuttonRow > * {
  padding: 10px;
}
.SystemExporterbuttonRow .ExecutionButton {
  width: 150px;
  height: 100px;
  border: gray 1px solid;
  border-radius: 5px;
  cursor: pointer;
}div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--interactive-accent);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer {
  overflow-y: auto;
  overflow-x: hidden;
  border: solid var(--border-width) var(--interactive-accent);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true] {
  border: solid var(--border-width) var(--interactive-accent);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveColoredBorder {
  border: 1px solid;
  padding: 10px;
  border-radius: 2px;
}

.GrobsInteractiveColoredBorder {
  transition: border-color 0.3s ease;
}

.GrobsInteractiveColoredBorder[data-state=good] {
  border-color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state=error] {
  border-color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state=verbose] {
  border-color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state=flash] {
  border-color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=good]::before {
  color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=error]::before {
  color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=verbose]::before {
  color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=flash]::before {
  color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text]::before {
  transition: color 0.3s ease;
  display: block;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  margin-top: -16.8px;
  content: attr(data-state-text);
  background-color: var(--background-primary);
}

.GrobsButton, .SystemDescriptorButton {
  height: 24px;
  padding: 24px;
  border-radius: 2px;
  background: var(--interactive-normal);
  box-shadow: var(--input-shadow);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  cursor: var(--cursor);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.GrobsButton:hover, .SystemDescriptorButton:hover {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
}

.lineBreak, .linebreak {
  height: 24px;
}

.blockBreak {
  height: 45px;
}

.grobModal {
  background-color: var(--background-primary);
  border-radius: var(--modal-radius);
  border: var(--modal-border-width) solid var(--modal-border-color);
  padding: var(--size-4-4);
  box-shadow: 4px 4px 0px 0px black;
  width: calc(100% - 2 * var(--size-4-4));
  position: absolute;
  z-index: 100;
}

.SystemDescriptor, .SystemDescriptorCreator {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.SystemDescriptorCheckBox:not([data-text=""]) {
  height: 24px;
  border-radius: 2px;
}

.SystemDescriptorCheckBox:not([data-text=""])[data-isValid=true] {
  border: solid 1px var(--color-green);
}

.SystemDescriptorCheckBox:not([data-text=""])[data-isValid=false] {
  border: solid 1px var(--color-red);
}

.SystemDescriptorCheckBox:not([data-text=""])::before {
  content: attr(data-text);
}

.SystemDescriptorButtonRow {
  display: flex;
  flex-direction: row;
}

.SystemDescriptorButton[data-disabled=true] {
  cursor: auto;
  background: var(--color-base-40);
}

.SystemDescriptorButton[data-disabled=true]:hover {
  background: var(--color-base-40);
}

.SystemDescriptorEditField {
  padding-left: 10px;
}div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--interactive-accent);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer {
  overflow-y: auto;
  overflow-x: hidden;
  border: solid var(--border-width) var(--interactive-accent);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true] {
  border: solid var(--border-width) var(--interactive-accent);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveColoredBorder {
  border: 1px solid;
  padding: 10px;
  border-radius: 2px;
}

.GrobsInteractiveColoredBorder {
  transition: border-color 0.3s ease;
}

.GrobsInteractiveColoredBorder[data-state=good] {
  border-color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state=error] {
  border-color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state=verbose] {
  border-color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state=flash] {
  border-color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=good]::before {
  color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=error]::before {
  color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=verbose]::before {
  color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=flash]::before {
  color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text]::before {
  transition: color 0.3s ease;
  display: block;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  margin-top: -16.8px;
  content: attr(data-state-text);
  background-color: var(--background-primary);
}

.GrobsButton {
  height: 24px;
  padding: 24px;
  border-radius: 2px;
  background: var(--interactive-normal);
  box-shadow: var(--input-shadow);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  cursor: var(--cursor);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.GrobsButton:hover {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
}

.lineBreak, .linebreak {
  height: 24px;
}

.blockBreak {
  height: 45px;
}

.grobModal {
  background-color: var(--background-primary);
  border-radius: var(--modal-radius);
  border: var(--modal-border-width) solid var(--modal-border-color);
  padding: var(--size-4-4);
  box-shadow: 4px 4px 0px 0px black;
  width: calc(100% - 2 * var(--size-4-4));
  position: absolute;
  z-index: 100;
}

/*
.SystemSelectorContainer{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
  */

.SystemSelectorContainerHeader {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
}

.SystemSelectorOptionsContainer {
  max-height: 168px;
  overflow-y: scroll;
}div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--interactive-accent);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer {
  overflow-y: auto;
  overflow-x: hidden;
  border: solid var(--border-width) var(--interactive-accent);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true] {
  border: solid var(--border-width) var(--interactive-accent);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveColoredBorder {
  border: 1px solid;
  padding: 10px;
  border-radius: 2px;
}

.GrobsInteractiveColoredBorder {
  transition: border-color 0.3s ease;
}

.GrobsInteractiveColoredBorder[data-state=good] {
  border-color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state=error] {
  border-color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state=verbose] {
  border-color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state=flash] {
  border-color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=good]::before {
  color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=error]::before {
  color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=verbose]::before {
  color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=flash]::before {
  color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text]::before {
  transition: color 0.3s ease;
  display: block;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  margin-top: -16.8px;
  content: attr(data-state-text);
  background-color: var(--background-primary);
}

.GrobsButton {
  height: 24px;
  padding: 24px;
  border-radius: 2px;
  background: var(--interactive-normal);
  box-shadow: var(--input-shadow);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  cursor: var(--cursor);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.GrobsButton:hover {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
}

.lineBreak, .linebreak {
  height: 24px;
}

.blockBreak {
  height: 45px;
}

.grobModal {
  background-color: var(--background-primary);
  border-radius: var(--modal-radius);
  border: var(--modal-border-width) solid var(--modal-border-color);
  padding: var(--size-4-4);
  box-shadow: 4px 4px 0px 0px black;
  width: calc(100% - 2 * var(--size-4-4));
  position: absolute;
  z-index: 100;
}

.editableTable {
  height: 100%;
}

.Editable_row {
  width: inherit;
  height: 24px;
  padding-left: 5px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 30px;
}

.Editable_rowHeader {
  width: inherit;
  height: 24px;
  padding-left: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.Editable_rowHeader > * {
  width: 30px;
}

.Editable_row:not([data-isEdit=true])[data-can-hover=true]:hover {
  background: var(--interactive-accent);
}

.Editable_row:not([data-isEdit=true])[data-can-hover=true]:hover[data-selected=true] {
  background: repeating-linear-gradient(-45deg, var(--color-green), var(--color-green) 4px, var(--interactive-accent) 4px, var(--interactive-accent) 10px);
}

.Editable_row:not([data-isEdit=true])[data-selected=true] {
  background: var(--color-green);
}

.Editable_row[data-isEdit=true] {
  background: var(--interactive-accent);
}

.Editable_row > div {
  position: relative;
  height: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.Editable_row > div > imageContainer {
  height: 24px;
  height: 100%;
  width: 100%;
}

/*
.Editable_rowPlusButton{
	background: $backgroundInput;
	position: sticky;
    width: 100%;
	top: inherit;
    bottom: 1px;
}*/

.Editable_Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}.tooltipInnerBox {
  position: absolute;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 1000;
  white-space: nowrap;
}

.tooltipInnerBox {
  background-color: var(--background-primary);
}

.tooltipInnerBox[data-type=error] {
  background-color: var(--background-modifier-error);
}

.tooltipInnerBox[data-type=verbose] {
  background-color: var(--color-blue);
}

.tooltipInnerBox[data-type=good] {
  background-color: var(--background-modifier-success);
}div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--interactive-accent);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer {
  overflow-y: auto;
  overflow-x: hidden;
  border: solid var(--border-width) var(--interactive-accent);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true] {
  border: solid var(--border-width) var(--interactive-accent);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveColoredBorder {
  border: 1px solid;
  padding: 10px;
  border-radius: 2px;
}

.GrobsInteractiveColoredBorder {
  transition: border-color 0.3s ease;
}

.GrobsInteractiveColoredBorder[data-state=good] {
  border-color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state=error] {
  border-color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state=verbose] {
  border-color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state=flash] {
  border-color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=good]::before {
  color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=error]::before {
  color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=verbose]::before {
  color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=flash]::before {
  color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text]::before {
  transition: color 0.3s ease;
  display: block;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  margin-top: -16.8px;
  content: attr(data-state-text);
  background-color: var(--background-primary);
}

.GrobsButton {
  height: 24px;
  padding: 24px;
  border-radius: 2px;
  background: var(--interactive-normal);
  box-shadow: var(--input-shadow);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  cursor: var(--cursor);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.GrobsButton:hover {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
}

.lineBreak, .linebreak {
  height: 24px;
}

.blockBreak {
  height: 45px;
}

.grobModal {
  background-color: var(--background-primary);
  border-radius: var(--modal-radius);
  border: var(--modal-border-width) solid var(--modal-border-color);
  padding: var(--size-4-4);
  box-shadow: 4px 4px 0px 0px black;
  width: calc(100% - 2 * var(--size-4-4));
  position: absolute;
  z-index: 100;
}.MainMenuButton_icon:not([data-disabled=true])[data-selected=true] {
  background-color: wheat;
  color: black;
}

.MainMenuButton_desc > p {
  background-color: wheat;
}

.MainMenuButton_icon[data-disabled=true] {
  color: darkgray;
}

.MainMenuButton {
  height: 66px;
  margin-top: -16px;
  position: relative;
}

.MainMenuButton .MainMenuButton_icon {
  width: 100%;
  height: 70px;
  padding: 15px;
  padding-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.MainMenuButton .MainMenuButton_desc {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
}

.MainMenuButton .MainMenuButton_desc p {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  position: fixed;
}

.MainMenuButton .MainMenuButton_icon + .MainMenuButton_desc {
  width: 0;
  opacity: 0;
}

.MainMenuButton .MainMenuButton_icon:not([data-selected=true]):not([data-disabled=true]):hover {
  background-color: rgba(0, 0, 0, 0.115);
}

.MainMenuButton .MainMenuButton_icon:not([data-selected=true]):not([data-disabled=true]):hover + .MainMenuButton_desc {
  width: 100px;
  opacity: 1;
}

.MainMenuButton .MainMenuButton_icon {
  transition: 0.3s ease background-color;
}

.MainMenuButton .MainMenuButton_desc {
  transition: 1s ease width, 0.3s ease opacity;
}.toogleSectionHeader {
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toogleSectionHeader .toogleSectionIcon {
  width: 20px;
  height: 20px;
  background-color: white;
  transition: 1s cubic-bezier(0.65, -0.02, 0.38, 0.99);
}

.toogleSectionHeader[data-toogled=true] .toogleSectionIcon {
  transform: rotateZ(135deg);
}

.toogleSectionHeader[data-toogled=false] .toogleSectionIcon {
  transform: rotateZ(0deg);
}

.toogleSectionHeader[data-toogled=true] {
  background-color: var(--color-green);
}

.toogleSectionHeader[data-toogled=false] {
  background-color: var(--nav-item-background-active);
}

.toogleSectionHeader[data-toogled=false]:hover {
  background-color: var(--interactive-accent);
}.SystemDesignerBlockSet {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}div {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.GrobsBordered_section {
  padding: 10px;
  border: 1px solid;
  border-color: var(--text-normal);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.GrobsBordered_section[data-edgeColor=green] {
  border-color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=green]::before {
  color: var(--color-green);
}

.GrobsBordered_section[data-edgeColor=blue] {
  border-color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=blue]::before {
  color: var(--interactive-accent);
}

.GrobsBordered_section[data-edgeColor=red] {
  border-color: var(--color-red) !important;
}

.GrobsBordered_section[data-edgeColor=red]::before {
  color: var(--color-red) !important;
}

.GrobsBordered_section::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

*[data-color=green] {
  background-color: var(--color-green);
}

*[data-color=blue] {
  background-color: var(--interactive-accent);
}

*[data-color=red] {
  background-color: var(--color-red);
}

.GrobsInteractiveContainer, .ItemDesignerInput {
  overflow-y: auto;
  overflow-x: hidden;
  border: solid var(--border-width) var(--interactive-accent);
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveContainer[data-disabled=true], [data-disabled=true].ItemDesignerInput {
  border: solid var(--border-width) var(--interactive-accent);
  background: transparent;
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  transition: 0.3s ease;
}

.GrobsInteractiveColoredBorder {
  border: 1px solid;
  padding: 10px;
  border-radius: 2px;
}

.GrobsInteractiveColoredBorder {
  transition: border-color 0.3s ease;
}

.GrobsInteractiveColoredBorder[data-state=good] {
  border-color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state=error] {
  border-color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state=verbose] {
  border-color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state=flash] {
  border-color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=good]::before {
  color: var(--background-modifier-success);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=error]::before {
  color: var(--background-modifier-error);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=verbose]::before {
  color: var(--color-blue);
}

.GrobsInteractiveColoredBorder[data-state-text][data-state=flash]::before {
  color: var(--color-yellow-light);
}

.GrobsInteractiveColoredBorder[data-state-text]::before {
  transition: color 0.3s ease;
  display: block;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  margin-top: -16.8px;
  content: attr(data-state-text);
  background-color: var(--background-primary);
}

.GrobsButton {
  height: 24px;
  padding: 24px;
  border-radius: 2px;
  background: var(--interactive-normal);
  box-shadow: var(--input-shadow);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  cursor: var(--cursor);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.GrobsButton:hover {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
}

.lineBreak, .linebreak {
  height: 24px;
}

.blockBreak {
  height: 45px;
}

.grobModal {
  background-color: var(--background-primary);
  border-radius: var(--modal-radius);
  border: var(--modal-border-width) solid var(--modal-border-color);
  padding: var(--size-4-4);
  box-shadow: 4px 4px 0px 0px black;
  width: calc(100% - 2 * var(--size-4-4));
  position: absolute;
  z-index: 100;
}

.ItemDesigner_TwoColumnData {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ItemDesignerInput {
  padding-left: 10px;
}

.ItemDesignerButtonRow {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.OriginEditor {
  padding-top: 20px;
}

.OriginEditor *[data-succes=true] {
  background-color: var(--background-modifier-success);
}

.OriginEditor *[data-succes=false] {
  background-color: var(--background-modifier-error);
}

.OriginEditor *[data-succes=NaN] {
  background-color: var(--color-blue);
}

.derivedCalcStatementRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.derivedCalcStatementRow > input {
  border-radius: 0;
}

.derivedOriginRowsContainer {
  padding-top: 5px;
}

.derivedOriginRowContainer {
  height: 40px;
}

.derivedCollectionCalcStatementMatrix {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.derivedCollectionCalcStatementMatrix > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.derivedCollectionCalcStatementMatrix > div:nth-child(1) {
  border-radius: 5px 0 0 0;
}

.derivedCollectionCalcStatementMatrix > div:nth-child(3) {
  border-radius: 0 5px 0 0;
}

.derivedCollectionCalcStatementMatrix > div:last-child {
  border-radius: 0 0 5px 0;
}

.derivedCollectionCalcStatementMatrix > div:nth-last-child(3) {
  border-radius: 0 0 0 5px;
}.GrobSelectLabel {
  height: inherit;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: var(--background-modifier-form-field);
  cursor: pointer;
}
.GrobSelectLabel::after {
  background-color: white;
}
.GrobSelectLabel[disabled=true] {
  cursor: default;
}
.SelectPopUp {
  overflow: initial;
  position: fixed;
  z-index: 500;
  width: inherit;
  background-color: #fff;
  overflow-y: initial;
  border-radius: 2px;
}
.SelectPopUp::-webkit-scrollbar {
  width: 10px;
  margin-left: -10px;
}
.SelectPopUp::-webkit-scrollbar-thumb:hover {
  background: var(--color-green);
}
.SelectPopUp .GrobSelectOption {
  color: black;
  display: flex;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}
.SelectPopUp .GrobSelectOption:hover {
  background-color: var(--color-blue);
}
.SelectPopUp .GrobSelectOption[data-selected=true] {
  background-color: var(--background-modifier-success);
}
.SelectPopUp .GrobSelectOption[data-selected=true]:hover {
  background-color: repeating-linear-gradient(-45deg, var(--background-modifier-success), var(--background-modifier-success) 4px, var(--color-blue) 4px, var(--color-blue) 10px);
}
.SelectPopUp .GrobSelectInfo {
  padding-left: 5px;
  color: rgb(128, 128, 128);
}
.SelectPopUp .Arrow {
  margin-left: 50%;
  margin-right: 50%;
  margin-top: -7px;
  background-color: white;
  height: 8px;
  width: 16px;
  clip-path: polygon(100% 100%, 50% 0%, 0% 100%);
}.derivedOriginRow, .derivedOriginAddARow {
  height: 40px;
  display: grid;
  grid-template-columns: 50px 50px 1fr 1fr 1fr 50px;
}
.derivedOriginRow > input, .derivedOriginAddARow > input, .derivedOriginRow > div, .derivedOriginAddARow > div {
  border: none;
  border-radius: 0;
}
.derivedOriginRow > .GrobSelect, .derivedOriginAddARow > .GrobSelect {
  height: 40px;
}
.derivedOriginRow > input, .derivedOriginAddARow > input {
  height: inherit;
  font-size: 12px;
  color: white;
  font-weight: bold;
}
.derivedOriginAddARow > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.derivedOriginRow_3span {
  grid-column: span 3;
}
.derivedOriginRowItem, .derivedOriginRowInteractionField {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.derivedOriginRowInteractionField {
  background-color: var(--background-modifier-form-field);
}
.derivedOriginRowInteractionField[data-color=error] {
  background-color: var(--background-modifier-error);
  cursor: pointer;
}.AppMainMenu.svelte-1ul43qu{display:grid;grid-template-columns:60px 60px 60px}