body {
  padding: 0px;
  margin: 0px;
  background-color: #D9D9D9;
  color: #2C3A40;
  font-variant: petite-caps;
  font-family: sans-serif;
}

pre {
  max-width: inherit;
  white-space: pre-line;
}

.table {
  width: 100%;
  height: fit-content;
  display: table;
}

.tableRow {
  width: 100%;
  height: fit-content;
  display: table-row;
}

.tableRowColumn {
  min-width: fit-content;
  height: fit-content;
  display: table-cell;
}

imagecontainer {
  height: 20px;
  width: 20px;
}

.Menu {
  background-color: #8C8C8C;
  font-family: sans-serif;
  font-variant: petite-caps;
}

.MenuBtnContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
}

.MenuBtn {
  cursor: pointer;
  border: 0;
  outline: none;
  border-radius: var(--radius-s);
  background-color: #A63737;
  height: 24px;
  width: 70px;
  border-radius: 0;
  display: grid;
  grid-template-columns: 70px 0px;
  overflow: hidden;
  background-color: transparent;
  transition: cubic-bezier(0.06, 0.32, 0.58, 1) 0.1s;
}

.MenuBtn:hover {
  background-color: #D9D9D9;
}

.MenuBtn[data-active=true] {
  background-color: var(--color-green);
}

.MenuBtn[data-active=true]:hover {
  background-color: var(--color-cyan);
}

.MenuBtn:hover {
  width: 270px;
  background-color: transparent;
}

.MenuBtn[data-active=true], .MenuBtn:hover {
  width: 270px;
  grid-template-columns: 70px 200px;
}

.MenuBtn .MenuBtnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MenuBtn .MenuBtnText {
  width: 200px;
  display: flex;
  height: 100%;
  align-items: center;
}

.MenuBtn .MenuBtnText h4 {
  margin: 0;
}

.MenuBtn .MenuBtnText p {
  margin: 0;
}

.MenuTitle {
  padding: 15px;
}

.colorscheme {
  display: flex;
}

.colorscheme > div:nth-child(1) {
  background-color: #2C3A40;
}

.colorscheme > div:nth-child(2) {
  background-color: #BF3F3F;
}

.colorscheme > div:nth-child(3) {
  background-color: #A63737;
}

.colorscheme > div:nth-child(4) {
  background-color: #D9D9D9;
}

.colorscheme > div:nth-child(5) {
  background-color: #8C8C8C;
}

.colorscheme > div {
  width: 25px;
  height: 25px;
}

/*
.Menu{
	//background-color: $background02; 
	height:fit-content; 
}
.MenuTitle{
	padding: $standardPadding;
}
.MenuBtnContainer {
	display: flex;
	flex-direction: row; 
	gap: 0px;
	position: relative;
}


.MenuBtn{
	@include btnN;
	height:$lineheight ;  
	width: 70px;  
	border-radius: 0;
	display: grid;
	grid-template-columns: 70px 0px;
	overflow: hidden;
	background-color: transparent;

	transition:ease 0.2s;
	&[data-active="true"], &:hover{
		width: 270px;
		grid-template-columns: 70px 200px;
	}
	.MenuBtnIcon{ 
		display: flex;
		align-items: center;
    	justify-content: center;
	}
	.MenuBtnText{
		width: 200px;
		display: flex;
		height: 100%;
		align-items: center;

		h4{
			margin:0;
			//height		: calc( 1.5 * $lineheight );
			//font-size	: calc( 1.5 * $lineheight );
			//line-height	: calc( 1.5 * $lineheight );
		}
		p {
			margin:0;
			//height: $lineheight;
			//font-size: $lineheight;
			//line-height: $lineheight;
		}
	}
}


.MenuSBtn{

	@include btnS;
	height:fit-content;  
	width: 70px;  
	padding-top:$lineheight;
	padding-bottom:$lineheight; 
	border-radius: 0;
	display: grid;
	grid-template-columns: 70px 0px;
	overflow: hidden; 
	transition:ease 0.2s;

	&[data-active="true"], &:hover{
		width: 270px;
		grid-template-columns: 70px 200px;
	}
	.MenuBtnIcon{ 
		display: flex;
		align-items: center;
    	justify-content: center;
	}
	.MenuBtnText{
		width: 200px;
		h4{
			margin:0;
			height		: calc( 1.5 * $lineheight );
			font-size	: calc( 1.5 * $lineheight );
			line-height	: calc( 1.5 * $lineheight );
		}
		p {
			margin:0;
			height: $lineheight;
			font-size: $lineheight;
			line-height: $lineheight;
		}
	}
}
*/

.MainAppContainerPage {
  width: 100%;
}

.MainAppContainerPage > section {
  padding: 25px;
}

.SettingsTable {
  background-color: red;
}

.MainAppContainerPageTextImageSection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.MainAppContainerPageTextImageSectionImage {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: gray;
}

.MainAppContainerPageSystem .PageSystemList {
  border: var(--input-border-width) solid var(--background-modifier-border);
  background: var(--background-secondary);
  border-radius: var(--input-radius);
  font-size: var(--font-ui-small);
  padding: var(--size-4-1) var(--size-4-2);
  font-family: inherit;
  color: var(--text-normal);
  min-height: 150px;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.MainAppContainerPageSystem .SystemPreviewer .tableRow .tableRowColumn:nth-child(2) {
  width: 250px;
}

.editableTable {
  height: 100%;
  background-color: #2C3A40;
  border-radius: 5px;
  overflow: hidden;
  color: #D9D9D9;
}

.Editable_row {
  width: calc(100% - 5px);
  padding: 5px;
  padding-left: 5px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 30px;
}

.Editable_rowHeader {
  width: inherit;
  padding-left: 5px;
  padding: 5px;
  padding-right: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.Editable_rowHeader > * {
  width: 30px;
}

.Editable_row:not([data-isEdit=true])[data-can-hover=true]:hover {
  background: #A63737;
}

.Editable_row:not([data-isEdit=true])[data-can-hover=true]:hover[data-selected=true] {
  background: repeating-linear-gradient(-45deg, rgb(195.7692307692, 76.2307692308, 76.2307692308), rgb(195.7692307692, 76.2307692308, 76.2307692308) 4px, #A63737 4px, #A63737 10px);
}

.Editable_row:not([data-isEdit=true])[data-selected=true] {
  background: #A63737;
}

.Editable_row[data-isEdit=true] {
  background: #A63737;
}

.Editable_row > div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: end;
  width: inherit;
  line-break: anywhere;
}

.Editable_Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toogleSectionHeader {
  cursor: pointer;
  height: 48px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "name icon" "line line";
}

.toogleSectionHeader .toogleSectionIcon {
  width: 10px;
  height: 10px;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  transition: 1s cubic-bezier(0.65, -0.02, 0.38, 0.99);
}

.toogleSectionHeader[data-toogled=true] .toogleSectionIcon {
  transform: translateY(3px) scaleX(-1) rotateZ(135deg);
}

.toogleSectionHeader[data-toogled=false] .toogleSectionIcon {
  transform: translateY(-3px) scaleX(-1) rotateZ(-45deg);
}

.toogleSectinLine {
  background-color: #BF3F3F;
  height: 5px;
  transition: ease 0.4s;
}

.toogleSectionHeader[data-toogled=true] .toogleSectinLine {
  width: 100%;
}

.toogleSectionHeader[data-toogled=false] .toogleSectinLine {
  width: 0;
}

.tooltipInnerBox {
  position: absolute;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 1000;
  white-space: nowrap;
}

.tooltipInnerBox {
  background-color: gray;
}

.tooltipInnerBox[data-type=error] {
  background-color: red;
}

.tooltipInnerBox[data-type=verbose] {
  background-color: blue;
}

.tooltipInnerBox[data-type=good] {
  background-color: green;
}

.ErrorHandlerSignage {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signage, .OKHandlerSign, .VerboseHandlerSign, .ErrorHandlerSign {
  cursor: pointer;
  border-radius: 2px;
  padding: 15px;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  justify-content: space-between;
}

.signage:hover, .OKHandlerSign:hover, .VerboseHandlerSign:hover, .ErrorHandlerSign:hover {
  transition: ease 0.4s;
}

.signage p, .OKHandlerSign p, .VerboseHandlerSign p, .ErrorHandlerSign p {
  grid-column: 2;
  text-align: right;
  line-height: 12px;
}

.signage i, .OKHandlerSign i, .VerboseHandlerSign i, .ErrorHandlerSign i {
  margin-top: 0;
  grid-column: 2;
  text-align: right;
  line-height: 12px;
  opacity: 0.5;
}

.signage::before, .OKHandlerSign::before, .VerboseHandlerSign::before, .ErrorHandlerSign::before {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  content: "!";
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.ErrorHandlerSign {
  background-color: var(--color-red);
}

.ErrorHandlerSign::before {
  content: "!";
}

.VerboseHandlerSign {
  background-color: var(--color-cyan);
}

.VerboseHandlerSign::before {
  content: "!";
}

.OKHandlerSign {
  background-color: var(--color-green);
}

.OKHandlerSign::before {
  content: "!";
}.tooltipInnerBox {
  position: absolute;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 1000;
  white-space: nowrap;
}

.tooltipInnerBox {
  background-color: gray;
}
.tooltipInnerBox[data-type=error] {
  background-color: red;
}
.tooltipInnerBox[data-type=verbose] {
  background-color: blue;
}
.tooltipInnerBox[data-type=good] {
  background-color: green;
}