.MainAppContainerPages{
	 
}
.MainAppContainerPage{
	width: 100%; 
	& > section {
		//border-top:1px solid gray;
		padding:25px;
		padding-top:12px;
		padding-bottom:12px;
	}	
}

.SettingsTable{
	background-color: red;
}

.MainAppContainerPageTextImageSection{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:50px;
	
}

.MainAppContainerPageTextImageSectionImage{
	//border:2px dashed white;
	height:100%;
	width: 100%;
	border-radius:3px;
	background-color: gray;
}

// --- --- --- --- --- --- --- --- --- --- --- ---
// SYSTEM!!!! 
// --- --- --- --- --- --- --- --- --- --- --- ---
.MainAppContainerPageSystem{

	.PageSystemList{
		@include editForm; 
		padding:0; 
		overflow-x: hidden;
	}
	
	.SystemPreviewer{
		.tableRow{
			.tableRowColumn {
				&:nth-child(1){ 
				}
				&:nth-child(2){
					width:250px;
					div{

					}
				}
			}
		}
	}
}

@import './SystemPage/index.scss';