:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.standardBorderClassDef{
  border-radius: 5px;
  border:2px solid white;
}
.standard10Button{
  width :30px;
  height:30px;
  background-color:gray;
  border-radius: 5px;
  color:white;
  text-align: center
}


.Sheet{
  min-width:800px;
  min-height:400px;
  background-color: rgba(211, 211, 211, 0.077);
}
.Row{
  width: 100%;
  min-height: 100px; 
  display: grid; 

  &[data-dragging='true']{
    opacity: 0.5;
    border-color:lightblue;
    &:hover{
      border-color:lightblue;
    }
  }

  &[data-edit="true"]{
    @extend .standardBorderClassDef;
    margin-top:20px;
    &:hover{
      border-color:lightgreen;
      cursor: pointer;
    }
  }
}
.itemSlot{
  margin:10px;
  height:calc(100% - 10px * 2);

  &[data-edit="true"]{
    @extend .standardBorderClassDef;
    
    &:hover{
      border-color:lightgreen;
      
      cursor: pointer;
      &::after{
        @extend .standard10Button;
        background-color:lightgreen;
        content:'+';
        color:white;
        position:relative;
        left:50%;
        top:35%;
        display: block;
      }
    }
  }
}
 
.addButton{

  @extend .standard10Button;
  &:hover{
    background-color:lightgreen;
    border-color:lightgreen;
    cursor: pointer;
  }
}

.CornerItem{
  position:absolute;
  right:0;
}