:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
  

.standardBorderClassDef{
	border-radius: 5px;
	border:2px solid white;
}
.standard10Button{
	width :30px;
	height:30px;
	background-color:gray;
	border-radius: 5px;
	color:white;
	text-align: center
}




.Sheet{
	min-width:800px;
	min-height:400px;
	background-color: rgba(211, 211, 211, 0.077);
}

@mixin createItemClass($standardColor, $editColor, $editColorHover) {
	
		margin: 10px;
		width: auto;

		&[draggable="true"]{
			cursor: pointer;
		}

		&[data-edit="true"] {
			min-height: 50px;
			border-radius: 5px;
			border:2px solid;
			border-color: $standardColor;
			
			&:hover {
				border-color:  $standardColor;
			}

			&[data-edit-active="true"]{
				border-color: $editColor;
				&:hover {
					border-color:  $editColorHover;
				}
			}
		}
	
}
$opacWhite : #fff1;
.Item{ 
	@include createItemClass($opacWhite,palegoldenrod,orange);	
}
.Row{ 
	display: grid; 
	@include createItemClass( $opacWhite,Skyblue,royalBlue);	
}
.Column{
	@include  createItemClass( $opacWhite,palegreen,green);	
}



.addButton{

	@extend .standard10Button;
	&:hover{
		background-color:lightgreen;
		border-color:lightgreen;
		cursor: pointer;
	}
}

.CornerItem{
	position:absolute;
	right:0;
}

















     
  
  .standardInfoSquare{
	border:1px solid black;
	  transform: rotate(45deg);
	  transition:1s ease;
  }

  
  .HeaderMenu{
	float:right;
	overflow: hidden;
	width:10px;
	background-color: green;
	display: flex;
	gap:10px; 
	color:transparent;
	padding:10px;
	transition:0.5s ease;
	cursor: pointer;
  }
  .HeaderMenu:hover{
	cursor: pointer;
	width:200px;
	background-color: green;
	display: flex;
	gap:10px; 
	color:white;
	padding:10px;
  }
 


    
  @import './Components/StatValue.scss';
  @import './Components/SpellInfo.scss';
  @import './Components/SkillProficiency.scss'; 
  @import './Components/ProficiencyBonus.scss'; 
  @import './Structure/ItemOptions.scss';