

$fontFamily : sans-serif;
$fontVariant: petite-caps;

$COLOR1:#2C3A40;
$COLOR2:#BF3F3F;
$COLOR3:#A63737;
$COLOR4:#D9D9D9;
$COLOR5:#8C8C8C;

$background01 	:$COLOR4;
$background02 	:$COLOR5;
$fontColor		:$COLOR1;

$Inputbackground:$COLOR1;
$InputFontColor :$COLOR4;


$layout_size01_minWidth : 0;
$layout_size01_maxWidth : 270;
$layout_size02_minWidth : #{$layout_size01_maxWidth + 0.01 };
$layout_size02_maxWidth : 500;
$layout_size03_minWidth : #{$layout_size02_maxWidth + 0.01};
$layout_size03_maxWidth : 900;
$layout_size04_minWidth : #{$layout_size03_maxWidth + 0.01};
$layout_size04_maxWidth : 1920;



$sat: saturation($COLOR3);
$lig: lightness($COLOR3);

$signal_background_error	: hsl(60 , $sat, $lig) ;
$signal_background_verbose	: hsl(191, $sat, $lig) ;
$signal_background_OK		: hsl(140 , $sat, $lig) ;




$lineheight : 24px; 

$standardPaddingSmall:5px;
$standardPadding:15px;

$stripedBackground_StripeThickness : 4px;
@function StrippedBackground($color1 , $color2) {
	@return repeating-linear-gradient(-45deg, $color1 , $color1  $stripedBackground_StripeThickness , $color2 $stripedBackground_StripeThickness , $color2 10px);
}
 

$interactiveSColor		: $COLOR3;
$interactiveSColorActive: lighten($COLOR3,10%);
$interactiveSColorHover	: $COLOR3;

$interactiveColor		: $COLOR3;
$interactiveColorHover	: $COLOR4;

$navigationBackgroundActive			:var(--color-green);//var(--interactive-accent);
$navigationBackgroundActiveHover	:var(--color-cyan);//var(--interactive-accent-hover);
$navigationSBackgroundActive		:var(--color-green);
$navigationSBackgroundActiveHover	:var(--color-cyan);


$red  :var(--color-red);
$standardBorderRadius:var(--radius-s);
@mixin btnN{
	cursor: pointer;
	border: 0;
	outline: none;
	
	border-radius: $standardBorderRadius;
	background-color: $interactiveColor;
	&:hover{
		background-color: $interactiveColorHover;
	}
	&[data-active="true"]{
		background-color:$navigationBackgroundActive;
		&:hover{
			background-color: $navigationBackgroundActiveHover;
		}
	}
}
@mixin btnS{ 
	cursor: pointer;
	border: 0;
	outline: none;
	background-color: $interactiveSColor;
	&:hover{
		background-color: $interactiveSColorHover;
	}
	&[data-active="true"]{
		background-color:$navigationBackgroundActive;
		&:hover{
			background-color: $navigationBackgroundActiveHover;
		}
	}
}
@mixin editForm {

	border: var(--input-border-width) solid var(--background-modifier-border);
	background: var(--background-secondary);
	border-radius: var(--input-radius);
	font-size: var(--font-ui-small);
	padding: var(--size-4-1) var(--size-4-2);
	font-family: inherit;
	color: var(--text-normal);
}