@import './appBaseStyles.scss';


body {
	padding:0px;
	margin:0px;
	background-color:$background01;
	color:$fontColor;
	font-variant:$fontVariant;
	font-family:$fontFamily;
}
pre { 
	max-width: inherit;
    white-space: pre-line;
}

.table			{
	width: 100%;
	height: fit-content;
	display: table	
}
.tableRow		{
	width: 100%;
	height: fit-content;
	display: table-row;	
}
.tableRowColumn	{
	min-width: fit-content;
	height: fit-content;
	display: table-cell;
}

imagecontainer{
	height:20px;
	width: 20px;
}

@import './Views/Menu/Menu.scss';
@import './Views/Page/page.scss';

@import '../../Components/editAbleList/EditAbleList.scss';
@import '../../Components/Messages/toolTip.scss';
@import '../../Components/Messages/StaticMessageHandler.scss';