 
.GrobSelect{
	width: 100%;
	height: 100%;
}

.GrobSelectLabel{ 
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;  
	cursor: pointer; 
	&::after{
		background-color:white;
	} 
	
	&[disabled="true"]{
		cursor:default;
	}
}
.GrobSelectOption{ 
	width: 100%;
	cursor: pointer;
	background-color: white;
	border:none;
	&:hover{
		background-color: blue;
		color:white;
		font-weight: bold;
	} 
	&[data-selected="true"]{
		background-color: green;
		color:white;
		font-weight: bold;
		&:hover{
			background-color: StrippedBackground( green , blue );
		}
	}
}
.SelectPopUp{

	&::-webkit-scrollbar { 
		width:5px !important;   
		margin-left:-5px !important;
		
	}
	&::-webkit-scrollbar-track { 
		width:0px !important;   
	}	
	&::-webkit-scrollbar-thumb {
		height:20px !important;
		width:5px !important; 
		background: blue !important;
		cursor: pointer !important;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: green !important;
		cursor: pointer !important;
		
	}
	& > div {
		width: 100%;
	}
}

@container (max-width: #{$layout_size02_maxWidth}px ) {
	.SelectPopUp {
		position:fixed;
		top		:10px !important;
		bottom	:10px !important;
		left	:10px !important;
		right	:10px !important;
		z-index: 49;
		border-radius: 5px; 
		background-color: white;
	}
	.GrobSelectOption{ 
		width: inherit;
		color:black;
		display: flex;
		padding:$standardPadding;
		cursor: pointer;
	}
}
@container (min-width: #{$layout_size03_minWidth}px ) and (max-width: #{$layout_size04_maxWidth}px ){
	.GrobSelectLabel{
		position: relative;
		width: inherit;
	}

	.SelectPopUp{   
		position:absolute;
        margin-top: 10px;
		z-index: 500; 
		width: inherit;
		background-color: white;
		margin-bottom: -100vh;
		overflow-y: scroll;  
		overflow-x: hidden;
		border-radius:2px;	 
	}
	
	.GrobSelectOption{ 
		width: inherit;
		color:black;
		display: flex;
		padding:$standardPadding;
		cursor: pointer;
	}
	.GrobSelectInfo{
		padding-left: 5px;
		color:rgb(128, 128, 128);
	}
}