@import '../../SystemStandards.scss';
@import '../app.scss';


.SystemSelectorContainerHeader{
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
	grid-template-rows: 1fr;
}

.SystemSelectorContainer .SelectionContainer {
	display:flex;
	flex-direction: column; 

	
}

.SelectionContainerOption{
	padding-left:10px;
	height:$standard_LineHeight;
	cursor:pointer;

	&:hover{
		background-color: $blue;
	}
}
