@import '../../SystemStandards.scss';
@import '../app.scss';


.SystemSelectorContainerHeader{
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
	grid-template-rows: 1fr;
}

  
 .SystemSelectorOptionsContainer{
	max-height: $standard_LineHeight * 7 ;
	overflow-y: scroll;
 }