@import '../app.scss' ;
@import '../../SystemStandards.scss' ;

.ItemDesigner_TwoColumnData{
	display: grid;
	grid-template-columns: 1fr 1fr;
	//gap:10px;
}

.ItemDesignerInput{
	@extend .GrobsInteractiveContainer;
	padding-left:10px;
}

.ItemDesignerButtonRow{
	height:30px;
	display:flex;
	flex-direction: row;

}