@import '../SystemStandards.scss';
.StatsRow {
	 
	display: flex;
	justify-content: space-between;
	padding-right:10px; 
}
.statTitle{
	width:calc( 100% + 10px );
	display: flex;
    justify-content: center;
}

.StatValue { 
	height:70px;
	width: 80px;
	padding-right:10px; 
}

.BoxValue {
	border-radius: $borderRad;
	border: 1px solid black;
	background-color: lightgray;
	 
	display: flex;
	align-items: center;
	justify-content: center; 
	outline: none;
	text-align: center;
	margin: 0;

	&[data-editmode="true"] {
		background-color: palegoldenrod;
	}
}

.LargeValue {
	height: 30px;
	width:calc( 100% );
	& > input{
		height:100%;  
		width: 100%; 
		padding:0;
	}
}

.SmallValue {
	width: 30px;
	height: 10px;
	float: right;
	margin-top: -10px;
	margin-right: -10px;
	color:black;
}