
@import '../../../SystemStandards.scss' ;
 
.derivedOriginRow {
	height:40px;
	display:grid;
	grid-template-columns: 50px 50px 1fr 1fr 1fr 50px;
	&>input, &> div {
		border:none;
		border-radius: 0;
	}

	&> .GrobSelect {
		height:40px;
	}
	& > input{
		height:inherit;
		font-size: 12px;
		color:white;
		font-weight: bold;
	}
}
.derivedOriginAddARow{
	@extend .derivedOriginRow;
	& > div{
		display:flex;
		justify-content: center;
		align-items: center;
	}
}
.derivedOriginRow_3span{
	grid-column: span 3;
}


.derivedOriginRowItem{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.derivedOriginRowInteractionField{
	@extend .derivedOriginRowItem;
	
	&[data-color="error"]{
		background-color: $color_error ;
		cursor: pointer;
	}
	background-color: $backgroundInput ;
}