@import '../../../SystemStandards.scss';
@import '../../app.scss';


.ErrorHandlerSignageContainer{
	//background-color: beige;
}
.ErrorHandlerSignage{
	display: flex;	
	flex-direction: column;
	gap:5px;
} 
.signage{
	cursor: pointer;
	border-radius: 2px;
	padding:$standard_padding ; 
	display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    justify-content: space-between;

	&:hover {
		margin-left:-5px;
		transition:ease 0.4s;
		margin-right:5px;
	}

	p{
		grid-column:2;
		text-align: right;
   		line-height: 12px;
	}
	i{
		margin-top:-10px;
		grid-column:2;
		text-align: right;
   		line-height: 12px;
		opacity: 0.5;
	}

	&::before{
		display: flex;	
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border:1px solid white;
 
		content:'!';
		width:15px;
		height:15px;
		border-radius:100%; 
	} 
}

.ErrorHandlerSign{
	@extend .signage;
	background-color: $red; 
	&::before{ 
		content:'!'; 
	}
}
 
.VerboseHandlerSign{
	@extend .signage;
	background-color: $blue; 
	&::before{ 
		content:'!'; 
	}
}
 
.OKHandlerSign{
	@extend .signage;
	background-color: $green; 
	&::before{ 
		content:'!'; 
	}
}
