.skillproficiencyMarkParent{
	width	:40px;
	height	:40px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.skillproficiencyMark{
	
	width:20px;
	height:20px;
	@extend .standardInfoSquare;
	cursor: pointer;


	&[data-level="0"]{
		
	}
	&[data-level="1"]{
		background-color: gray;
	}
	&[data-level="2"]{
		background-color: black;
	}
}	
.skillproficiencyContainer{
	display: flex;
    align-items: center;
}


.skillproficiencyContainer[data-edit="false"]{
	.skillproficiencyMark{
		
	}	
}

.skillproficiencyContainer[data-edit="true"]{
	.skillproficiencyMark{
		&:hover{
			padding:5px;
		}
	}	
}
.skillproficiencyMarkName{
	width:150px;
	display: flex;
	
}
.skillproficiencyMarkValue{

}