$green          : var(--color-green);


$blue           : var(--interactive-accent); //var(--color-blue); // var(--interactive-accent);
$red            : var(--color-red);
$yellow         : var(--color-yellow-light);
$color_error    : var(--background-modifier-error);
$color_success  : var(--background-modifier-success) ;
$color_verbose	: var(--color-blue);
$color_flash	: $yellow;
$color_hover    : var(--interactive-hover) ;
$disabledInteraction:  var(--color-base-40);

$backgroundStandard : var(--background-primary);
$backgroundInput    : var(--background-modifier-form-field);
$textColor          : var(--text-normal);

$standard_LineHeight 	: 24px;
$standard_fontSize	 	: 12px;
$standard_padding_small	: 5px ;
$standard_padding_large	: 15px ;
$standard_padding		: 5px 15px 5px 15px;

 
$flashAnimTime : 0.3s;
$flashAnimType : ease;


$stripedBackground_StripeThickness : 4px;
@function StrippedBackground($color1 , $color2) {
	@return repeating-linear-gradient(-45deg, $color1 , $color1  $stripedBackground_StripeThickness , $color2 $stripedBackground_StripeThickness , $color2 10px);
}
 