$green          : var(--color-green);
$blue           : var(--color-blue);
$red            : var(--color-red);
$color_error    : var(--background-modifier-error);
$color_success  : var(--background-modifier-success) ;
$color_hover    : var(--interactive-hover) ;

$backgroundStandard : var(--background-primary);
$backgroundInput    : var(--background-modifier-form-field);
$textColor          : var(--text-normal);

$standard_LineHeight 	: 24px;
$standard_fontSize	 	: 12px;




$stripedBackground_StripeThickness : 4px;
@function StrippedBackground($color1 , $color2) {
	@return repeating-linear-gradient(-45deg, $color1 , $color1  $stripedBackground_StripeThickness , $color2 $stripedBackground_StripeThickness , $color2 10px);
}
 