@import '../../../SystemStandards.scss';
@import '../../app.scss';

.editableTable{
	height: 100%; 
}

.Editable_row{
	width: inherit;
	height:$standard_LineHeight ;
	//line-height: $standard_fontSize	;
	padding-left:5px;
	cursor:pointer;
	display: grid;
	grid-template-columns: auto 30px 30px ;
}

// Color Specifications
.Editable_row{
	&:not([data-isEdit="true"]){
		&[data-can-hover="true"]{
			&:hover{
				&[data-selected="true"]{
					background: StrippedBackground($green , $blue);
				}
				background: $blue  ; 
			}
		}
		&[data-selected="true"]{
			background: $green  ;
		}
	}
	&[data-isEdit="true"]{
		background: $blue ; 
	}
}


.Editable_row > div {
	position:relative;
	& > imageContainer {
		height:100%;
		width:100%;
	}
}


.Editable_rowPlusButton{
	background: $backgroundInput;
	position: sticky;
    width: 100%;
	top: inherit;
    bottom: 1px;
}
.Editable_Icon{
	display: flex;
    justify-content: center;
    align-items: center;
}